@font-face {
 font-family: MyriadPro;
 src: url("../fonts/MyriadProRegular.ttf");
}

body {
 font-family: 'MyriadPro', sans-serif;
}

a {
 text-decoration: none;
}

.list-unstyled {
 list-style: none;
 padding-left: 0;
 margin: 0;
}

.content-size-wrapper {
 width: 1280px;
 margin: 61px auto 30px;
}

.logo-text {
 font-size: 80px;
 color: black;
 font-weight: 400;
 text-decoration: none;
}

.text-blue {
 color: #4bcaff;
}

.menu-top {
 display: flex;
 justify-content: center;
 background-color: #35444f;
 text-align: center;
 margin-top: 45px;
}

.menu-top__option {
 padding: 26px 41px 21px;
 color: white;
 font-size: 24px;
 border: 1px solid transparent;
}

.menu-top__option:hover, .menu-top__option_selected {
 background-color: #222f3a;
 border-right: 1px solid #818181;
 border-left: 1px solid #818181;
}

.container {
 margin: 51px 0;
 display: flex;
}

.main-content {
 width: 885px;
}

.main-content__img-block {
 border: 1px solid black;
 overflow: hidden;
 padding: 73px;
}

.main-content__img {
 width: 320px;
 max-width: 100%;
 display: block;
 margin: 0 auto;
 -moz-transition: all 2s ease-out;
 -o-transition: all 2s ease-out;
 -webkit-transition: all 2s ease-out;
 transition: all 2s ease-out;
}

.main-content__img:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 transform: scale(1.1);
}

.menu-left-wrapper {
 margin-right: 52px;
 width: 344px;
}

.menu-left {
 border: 1px solid black;
}

.menu-left li {
 padding: 29px 30px 29px 42px;
}

.menu-left__option {
 color: #485863;
 font-size: 27px;
 line-height: 19px;
}

.menu-left li:hover, .menu-left__option_selected {
 background-color: #dbdbdb;
}

.main-content__text {
 font-size: 18px;
 line-height: 24px;
 color: #2c2c2c;
 padding: 50px 40px 0 30px;
}

.main-content__paragraph {
 margin-bottom: 30px;
}

.main-footer {
 background-color: rgba(99, 105, 110, 0.48);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 34px 0 44px;
}

.main-footer__copyright {
 font-size: 24px;
}

.menu-bottom li {
 display: inline-block;
 padding: 22px 0 17px;
 margin-right: 28px;
 font-size: 24px;
}

.menu-bottom__option {
 color: #0c1927;
 font-size: 28px;
}

.menu-bottom__option:hover, .menu-bottom__option_selected {
 color: #3181a6;
 border-bottom: 1px solid #3181a6;
}
